body{background-color: red;}
#location{text-align: center; color: blue;}
.app{float: left; position: relative; width: 200px; height: 200px; border-radius: 50px; background-color: yellow; border: 5px solid white;}
.app:hover{background-color: white;}
#hub{left: 200px; top: 200px; background-image: url(../images/VirtualHub.gif); background-repeat: no-repeat; background-position: center;}
#earpads{left: 800px; top: 200px; background-image: url(../images/VirtualEarpads.gif); background-repeat: no-repeat; background-position: center;}
#settings{left: 800px; top: 200px; background-image: url(../images/Settings.gif); background-repeat: no-repeat; background-position: center;}

.PersonalizationHeader{text-align: center; color: blue; position: relative; top: 200px;}
.Green{position: relative; width: 200px; height: 200px; background-color: green; left: 400px; top: 250px;}
.Green:hover{background-color: rgb(0,75,0);}
.Red{position: relative; width: 200px; height: 200px; background-color: red; left: 700px; top: 50px;}
.Red:hover{background-color: rgb(75,0,0);}